{% extends "base.html" %}

{% block content %}
<h3 class="subtitle">Create a Meal</h3>
<form action="{{ request.url_for('meals') }}" method="post">

    <label for="name">Meal Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="type">Meal Type:</label>
    <select id="type" name="type" required>
        <option value="" disabled selected>Select a meal type</option>
        {% for type in meal_types %}
            <option value="{{ type.value }}">{{ type.value.replace('_', ' ').title() }}</option>
        {% endfor %}
    </select><br><br>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" required><br><br>

    <label for="food_groups">Food Groups:</label>
    <select id="food_groups" name="food_groups" multiple required>
        {% for group in food_groups %}
            <option value="{{ group.value }}">{{ group.value.replace('_', ' ').title() }}</option>
        {% endfor %}
    </select><br><br>

    <button class="button is-primary" type="submit">Create Meal</button>
</form>
{% endblock %}
